@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
  /* Primary accent */
  --color-soft-gold: #fade7d;

  /* Background */
  --color-milk: #fafafa;
  --color-warm-cream: #fffbeb;

  /* Text */
  --color-graphite: #2e2e2e;
}

@layer base {

  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Open Sans", sans-serif;

    /* Better than 100vh (fix mobile issues) */
    min-height: 100dvh;

    /* Tailwind utilities */
    @apply antialiased;

    /* Theme */
    color: var(--color-graphite);
    background: linear-gradient(to bottom,
        var(--color-milk),
        var(--color-warm-cream));
  }

  #app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}